<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Data Analytics</title>
</head>
<body>
    <h1>Welcome</h1>
    <h5>This is data analytics</h5>
    <!--
        Something else in this program 
    -->
    <p>Lorem Ipsum has been the <i>industry's</i> standard <b>dummy</b> text ever since the <mark>1500s</mark>, when an unknown printer took a <strong>galley</strong> of type and scrambled it to </p>
    <p>This is paragraph tag.make a type specimen book. It has <small>survived</small> not only five centuries, but also the leap into <del>electronic</del> typesetting, remaining <abbr title="aiquest">A</abbr> essentially unchanged</p>
    <p>previous price <del>300</del><br> Present price <ins>500</ins></p>
    <abbr title="Aiquest">ai</abbr>
    <p>(a+b)<sup>2</sup><br>H<sub>2</sub>O</p>
    <pre>Studymart                     
                             offers           
                                                 AI course
    </pre>
    <p>Welcome to <span style="color:red">Django</span></p>
    
    <P>for learn more visit: <a href="https://docs.djangoproject.com/en/5.0">Django documentation</a> </P>
    <p>Unorderd list</p>
    <ul style="list-style-type:none">
        <li>CSE</li>
        <li>EEE</li>
        <li>ETE</li>
        <li>BME</li>
    </ul>
    <p>Orderd list</p>
    <ol type="i">
        <li>Tea</li>
        <li>Cofee</li>
        <li>Cold cofee</li>
        <li>Ice-cream</li>

    </ol>
    <form action="">
        <label for="">Enter your name:</label>
        <input type="text" name="" id="" placeholder="Enter your name" ><br><br>
        <input type="email" name="" id="" placeholder="Enter your email"><br><br>
        <input type="password" name="" id="" placeholder="Enter your password"><br><br>
        <input type="radio" name="gender" id="" >Male
        <input type="radio" name="gender" id="" >Female
        <input type="radio" name="gender" id="" >Othesrs <br><br>
        <label for="">Enter your choice:</label>
        <input type="checkbox" name="" id="">Django
        <input type="checkbox" name="" id="">Machine learning
        <input type="checkbox" name="" id="">Deep learning
        <input type="checkbox" name="" id="">Data Analytics
        <input type="checkbox" name="" id="">Python <br><br>
        <input type="submit" value="submit">
        <input type="reset" value="Reset">
        <input type="date" name="" id="">
    </form>
    <table width="700" border="2" align="center" cellspacing='10' cellpadding="10">
        <tr>
            <th>Teachers Name</th>
            <th>Course Name</th>
            <th>Total Class</th>
            <th>Course Duration</th>
        </tr>
        <tr>
            <td>Rashedul Islam</td>
            <td>Machine Learning</td>
            <td>23</td>
            <td>3 months</td>
        </tr>
        <tr>
            <td>Mejbah</td>
            <td>Deep Learning</td>
            <td>23</td>
            <td>3 months</td>
        </tr>
        <tr>
            <td>Jarif</td>
            <td>Data Analytics</td>
            <td>23</td>
            <td>3 months</td>
        </tr>
        <tr>
            <td>Rezaul</td>
            <td>Python</td>
            <td>23</td>
            <td>3 months</td>
        </tr>
    </table>
    <div class="cselector">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
        
        <p id="idselector">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source</p>
    </div>
    <p class="textproperty">Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source osoft and our third-party vendors use cookies to store and access information such as unique IDs to deliver, maintain and improve our services and ads. If you agree, MSN and Microsoft Bing will personalise the content and ads that you see. You can select I Accept to consent to these uses or click on Manage preferences to review your options and exercise your right to object to Legitimate Interest where used. You can change your selection under Manage Preferences at the bottom of this page.</p>
    <div class="margin">
        <div class="padding">
            <p>Aquest</p>
        </div>
    </div>
</body>
</html>
